<h2><%= @stylist.name() %>'s Clients</h2>
<ul>

<% if @stylist.all_clients().any?() %>


<% @stylist.all_clients().each() do |client| %>
<li><a href='/stylists/<%= @stylist.id() %>/clients/<%= client.id() %>'><%= client.name() %></a></li>
<% end %>
</ul>
<% else %>
<p><%= @stylist.name() %> doesn't have any clients, yet.</p>
<% end %>

<a href="/stylists/<%= @stylist.id() %>/clients/new">Add a Client</a>
<br>
<a href="/stylists/<%= @stylist.id() %>/edit">Edit <%= @stylist.name() %></a>
<br>
<a href="/stylists">View Stylists</a>
<br>
<a href="/">Home</a>
